@font-face {
    font-family: 'Inter';
    src: url('/fonts/inter/Inter-Regular.woff2') format('woff2'),
         url('/fonts/inter/Inter-Regular.woff') format('woff');
    font-weight: 400;
    font-display: swap;
  }
  *{
     margin:0px;
  }
  @font-face {
    font-family: 'Inter';
    src: url('/fonts/inter/Inter-Italic.woff2') format('woff2'),
         url('/fonts/inter/Inter-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
  }
  